<html>
    <head>
	<style>
	.query{
		height: 40px;
		width: 300px;
    		font-size: 16px;
		padding: 15px;
		border: none;
		box-shadow: 0 0 1px 0;
	}
	.search{
		height: 40px;
		border: none;
		background: #FF0000;
		color: #FFF;
		box-shadow: 0 0 2px 0 #000;
	}
	.s_cont{
		display: block;
		background: white;
		position: relative;
		top: 40%;
		padding: 12px;

	}
	</style>
        <title>Job Recommendations</title>
    </head>
	<body>
	<div class="s_cont">
        <form method="POST"><center>
            <input type="text" id="myFile" name="query" class="query" placeholder="Enter your Query">
            <button type="submit" class="search">SEARCH JOBS</button></center>
        </form>
	</body>
</html>
